
$fuente-inicio:(
    color: #00ADB5,
    centrar: center,
    tamanio-fuente: 1.3rem,
    margintop: 2rem,
    marginbottom: 2rem,
    sombra: 1px 1px 1px rgba(255, 255, 255, 0.377),
);
/*a la fuente le pongo su dato directamente porque no puedo ponerlo en el mapa*/
