@import "../components/listas";
@media screen and (max-width: 1087px) {
    main{
        .gridGaleria{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: 600px;
            gap: 1.5rem;
        }
    
    }


    #videocss {
        width: nth($videowidth,2);
        height: nth($videoheigth,2);
    }
}

@media screen and (max-width: 960px) {
    main{
        .gridGaleria{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: 500px;
            gap: 1.5rem;
        }
    
    }
    .font-rem {
        color: #00ADB5;
        text-align: center;
        font-size: 1.3rem;
        font-family: 'Rubik', sans-serif;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    #videocss {
        width: nth($videowidth,2);
        height: nth($videoheigth,2);
    }
    

}

@media screen and (max-width: 760px) {
    main{
        .gridGaleria{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 600px 600px;
            gap: 1.5rem; 
        }
    
    }

    .titulo {
        font-size: 1.5rem;
    }
    .font-rem {
        color: #00ADB5;
        text-align: center;
        font-size: 1.1rem;
        font-family: 'Rubik', sans-serif;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }


    #videocss {
        width: nth($videowidth,3);
        height: nth($videoheigth,3);
    }
    header{
        nav{
            div{
                div{
                    ul{
                        li{
                            color: #00ADB5;
                            text-align: center;
                            font-size: 1rem;
                            font-family: 'Rubik', sans-serif;
                        }
                    }
                }

    
            }
        }
    }




}


@media screen and (max-width: 540px) {
    #videocss {
        width: nth($videowidth,4);
        height: nth($videoheigth,4);
    }

    main{
        .gridGaleria{
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-rows: 400px;
            gap: 1.5rem;
        }
    
    }

    .pieDePagina {
        grid-area: footer;
        background-color: black;
        width: 100%;
        padding: 2rem 0px;
        color: white;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    

    .titulo{
        font-size: 1rem;
    }

    .redes{
        justify-content: center;
    }



    p {
        font-size: 0.8rem;
        margin-top: 0;
        margin-bottom: 1rem;
        font-family: 'Rubik', sans-serif;
    }
    main{
        section{
    
            .contenedor{
                .h3texto{
                    color: #008086;
                    font-size: 2rem;
                    font-family: 'Rubik', sans-serif;
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                }
                .gridNosotros{
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-auto-rows: 400px;
                    gap: 1.5rem;
                }
            }
        }
    }


    



}

@media screen and (max-width: 334px) {
    #videocss {
        width: nth($videowidth,5);
        height: nth($videoheigth,5);
    }

    main{
        .gridGaleria{
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-rows: 320px;
            gap: 1.5rem;
        }
    
    }

    .titulo{
        font-size: 1rem;
    }
    .agregarSangria {
        text-indent: 1rem;
    }

    .font-rem {
        color: #00ADB5;
        text-align: center;
        font-size: 0.8rem;
        font-family: 'Rubik', sans-serif;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }



    .logo {
        width: 100px;
        height: auto;

    }
    header{
        nav{
            div{
                div{
                    ul{
                        li{
                            color: #00ADB5;
                            text-align: center;
                            font-size: 1rem;
                            font-family: 'Rubik', sans-serif;
                        }
                    }
                }

    
            }
        }
    }
    .imgRedes{
        width:20px;
        height:auto;
    
    }

    p {
        font-size: 0.7rem;
        margin-top: 0;
        margin-bottom: 1rem;
        font-family: 'Rubik', sans-serif;
    }


}