@import "../components/clases";
@import "../components/extends";
@import "../components/mixin";
/*Empieza el footer*/

Footer {
    width: 100%;
}

.pieDePagina {
    grid-area: footer;
    background-color: black;
    width: 100%;
    padding: 2rem 0px;
    color: white;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
}

.NavFooter{
    display:grid;
    align-items: center;
}

.imgRedes{
    width:30px;
    height:auto;

}


/*Termina el footer*/